<datapower-configuration version="3">
    <export-details>
        <description>Exported Configuration</description>
        <user>admin</user>
        <domain>DEV2</domain>
        <comment/>
        <product-id>719962X</product-id>
        <product>XB60</product>
        <display-product>XB62</display-product>
        <model>DataPower XB60</model>
        <display-model>DataPower XB62</display-model>
        <device-name>WDP6.XB62.DC1.NBNCO</device-name>
        <serial-number>6804930</serial-number>
        <firmware-version>XB60.7.1.0.8</firmware-version>
        <display-firmware-version>XB62.7.1.0.8</display-firmware-version>
        <firmware-build>272022</firmware-build>
        <firmware-timestamp>2016/01/25 08:16:45</firmware-timestamp>
        <current-date>2016-08-25</current-date>
        <current-time>14:43:00 EST</current-time>
        <reset-date>2016-08-11</reset-date>
        <reset-time>09:41:18 EST</reset-time>
        <login-message/>
        <custom-ui-file/>
        <intrusion-detection>enable</intrusion-detection>
    </export-details>
    <interface-data>
        <interface name="mgt0" type="Ethernet" vers="ipv4" ip-addr="10.48.48.242"/>
        <interface name="mgt1" type="Ethernet" vers="ipv4" ip-addr="9.2.3.5"/>
        <interface name="eth10" type="Ethernet" vers="ipv4" ip-addr="192.168.91.227"/>
        <interface name="eth12" type="Ethernet" vers="ipv4" ip-addr="192.168.91.234"/>
        <interface name="eth14" type="Ethernet" vers="ipv4" ip-addr="192.168.91.231"/>
        <interface name="eth17" type="Ethernet" vers="ipv4" ip-addr="192.168.91.237"/>
    </interface-data>
    <configuration domain="DEV2">
        <B2BProfile name="int-NBNCo" xmlns:env="http://www.w3.org/2003/05/soap-envelope"
            xmlns:dp="http://www.datapower.com/schemas/management">
            <mAdminState>enabled</mAdminState>
            <ProfileType>internal</ProfileType>
            <BusinessIDs>NBNCO</BusinessIDs>
            <CustomStylePolicy class="StylePolicy">NBNCoB2BGateway-Internal</CustomStylePolicy>
            <ResponseType>preprocessed</ResponseType>
            <Destinations>
                <DestName>dummy</DestName>
                <DestURL>http://none</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>on</EnableX12>
                    <EnableEDIFACT>on</EnableEDIFACT>
                    <EnableBinary>on</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>120</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageAddress_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_ADDRESS.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageProductOrder_Request_v2.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_PRODUCT_ORDER.V2.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageServiceQualification_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_SERVICE_QUAL.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageInventory_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_INVENTORY.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageBatch_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_BATCH.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageBillingDocument_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_BILLING_DOCUMENT.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageAppointment_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_APPOINTMENT.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageWorkforce_Notification_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=AS.SVC.MANAGE_WORKFORCE.V1.NOTIFY;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageWorkforce_Response_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=AS.SVC.MANAGE_WORKFORCE.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageActivation_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_ACTIVATION.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>ManageTest_Request_v1.0</DestName>
                <DestURL>dpmq://Internal-Queue-Manager-Group/URI?RequestQueue=IB2B.SVC.MANAGE_TEST.V1.INPUT;AsyncPut=true</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>AMQ-noGSS</DestName>
                <DestURL>http://AMQ</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy/>
                <OverrideTimeout>30</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName>admin</UserName>
                <Password>admin</Password>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>AMQ-GSS</DestName>
                <DestURL>https://AMQ</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">AMQ</SSLProxy>
                <OverrideTimeout>30</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName>admin</UserName>
                <Password>admin</Password>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-queryAddressSearch</DestName>
                <DestURL>https://cis-queryAddress-${environment}.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-requestSingleSiteQualification</DestName>
                <DestURL>https://cis-testSiteQualification-${environment}.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-requestOrderFeasibilityCheck</DestName>
                <DestURL>https://cis-performOrderFeasibility-${environment}.slb.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>30</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-requestAppointmentAvailability</DestName>
                <DestURL>https://cis-queryAppointmentAvailability-${environment}.slb.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>30</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-submitOrder</DestName>
                <DestURL>https://cis-orders-${environment}.slb.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>30</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <Destinations>
                <DestName>CIS-requestProductInstanceInformation</DestName>
                <DestURL>https://cis-api-${environment}.slb.nbndc.local:443/async</DestURL>
                <EnabledDocType>
                    <EnableXML>on</EnableXML>
                    <EnableX12>off</EnableX12>
                    <EnableEDIFACT>off</EnableEDIFACT>
                    <EnableBinary>off</EnableBinary>
                </EnabledDocType>
                <SMTPServerConnection class="SMTPServerConnection">default</SMTPServerConnection>
                <EmailAddress/>
                <SSHClientConnection/>
                <UseUniqueFilenames>off</UseUniqueFilenames>
                <SSLProxy class="SSLProxyProfile">CIS</SSLProxy>
                <OverrideTimeout>10</OverrideTimeout>
                <EnableFTPSettings>off</EnableFTPSettings>
                <UserName/>
                <Password/>
                <Passive>pasv-req</Passive>
                <AuthTLS>auth-off</AuthTLS>
                <UseCCC>ccc-off</UseCCC>
                <EncryptData>enc-data-off</EncryptData>
                <DataType>binary</DataType>
                <SlashSTOU>slash-stou-on</SlashSTOU>
                <QuotedCommands/>
                <SizeCheck>size-check-optional</SizeCheck>
                <BinaryTransferMode>auto-detect</BinaryTransferMode>
                <ASCompress>off</ASCompress>
                <ASCompressBeforeSign>off</ASCompressBeforeSign>
                <ASSendUnsigned>off</ASSendUnsigned>
                <ASEncrypt>off</ASEncrypt>
                <ASEncryptCert/>
                <ASMDNRequest>off</ASMDNRequest>
                <ASMDNRequestAsync>off</ASMDNRequestAsync>
                <AS1MDNRedirectEmail/>
                <AS2MDNRedirectURL/>
                <AS3MDNRedirectURL/>
                <ASMDNRequestSigned>off</ASMDNRequestSigned>
                <Retransmit>off</Retransmit>
                <ACKTime>1800</ACKTime>
                <MaxResends>3</MaxResends>
                <ASEncryptAlg>3des</ASEncryptAlg>
                <ASMDNRequestSignedAlgs>sha1,md5</ASMDNRequestSignedAlgs>
                <EBMSCpaId/>
                <EBMSService/>
                <EBMSServiceType/>
                <EBMSAction/>
                <EBMSSendUnsigned>off</EBMSSendUnsigned>
                <EBMSEncrypt>off</EBMSEncrypt>
                <EBMSEncryptCert/>
                <EBMSEncryptAlg>http://www.w3.org/2001/04/xmlenc#tripledes-cbc</EBMSEncryptAlg>
                <EBMSDuplicateEliminationRequest>on</EBMSDuplicateEliminationRequest>
                <EBMSAckRequest>off</EBMSAckRequest>
                <EBMSAckRequestSigned>off</EBMSAckRequestSigned>
                <EBMSSyncReplyMode>none</EBMSSyncReplyMode>
                <EBMSRetry>off</EBMSRetry>
                <EBMSMaxRetries>3</EBMSMaxRetries>
                <EBMSRetryInterval>1800</EBMSRetryInterval>
                <EBMSIncludeTimeToLive>on</EBMSIncludeTimeToLive>
            </Destinations>
            <InboundRequireSigned>off</InboundRequireSigned>
            <InboundRequireEncrypted>off</InboundRequireEncrypted>
            <OutboundSign>off</OutboundSign>
            <OutboundSignDigestAlg>sha1</OutboundSignDigestAlg>
            <OutboundSignMICAlgVersion>SMIME3.1</OutboundSignMICAlgVersion>
            <ASAllowDuplicateMessage>never</ASAllowDuplicateMessage>
            <PreserveFilename>off</PreserveFilename>
            <EBMSRole>Supplier</EBMSRole>
            <EBMSPersistDuration>0</EBMSPersistDuration>
            <EBMSInboundRequireSigned>off</EBMSInboundRequireSigned>
            <EBMSInboundRequireEncrypted>off</EBMSInboundRequireEncrypted>
            <EBMSOutboundSign>off</EBMSOutboundSign>
            <EBMSOutboundSignatureAlg>dsa-sha1</EBMSOutboundSignatureAlg>
            <EBMSOutboundSignatureC14NAlg>c14n</EBMSOutboundSignatureC14NAlg>
            <EBMSOutboundSignDigestAlg>sha1</EBMSOutboundSignDigestAlg>
            <EBMSStartParameter>off</EBMSStartParameter>
            <EBMSAllowDuplicateMessage>never</EBMSAllowDuplicateMessage>
        </B2BProfile>
    </configuration>
    <files>
        <file name="webgui:///clixform.xsl" src="dp-aux/clixform.xsl" location="dp-aux"
            internal="true" hash="Yu2wEOs0VmAVlzJN6hx79jjE3C0="/>
        <file name="webgui:///SchemaUtil.xsl" src="dp-aux/SchemaUtil.xsl" location="dp-aux"
            internal="true" hash="8fmsXUfiaQKycD1E2HoNtTPk95c="/>
        <file name="webgui:///management.xsl" src="dp-aux/management.xsl" location="dp-aux"
            internal="true" hash="EOeJnfXfGxgKVTgNTGthBkYOdf4="/>
        <file name="webgui:///map-dmz.xsl" src="dp-aux/map-dmz.xsl" location="dp-aux"
            internal="true" hash="n00B2bmGoH6OdSOW1QRz/SNVbYc="/>
        <file name="webgui:///drMgmt.xml" src="dp-aux/drMgmt.xml" location="dp-aux" internal="true"
            hash="OgRxzYl5LP0WiMD5E82L8YnpKTQ="/>
        <file name="webgui:///basetypes.xml" src="dp-aux/basetypes.xml" location="dp-aux"
            internal="true" hash="8m6uyk3gbCIu6pjYJYalNKzdqrc="/>
    </files>
</datapower-configuration>
