CamelRequestReplyServer/.classpath
CamelRequestReplyServer/.project
CamelRequestReplyServer/.settings/org.eclipse.core.resources.prefs
CamelRequestReplyServer/.settings/org.eclipse.jdt.core.prefs
CamelRequestReplyServer/.settings/org.eclipse.m2e.core.prefs
CamelRequestReplyServer/.settings/org.eclipse.pde.core.prefs
CamelRequestReplyServer/.settings/org.jboss.ide.eclipse.as.core.prefs
